KUBE_APISERVER_OPTS="--authorization-mode=Node,RBAC \
  --enable-admission-plugins=NamespaceLifecycle,LimitRanger,ServiceAccount,PersistentVolumeClaimResize,DefaultStorageClass,DefaultTolerationSeconds,NodeRestriction,MutatingAdmissionWebhook,ValidatingAdmissionWebhook,ResourceQuota,Priority \
  --advertise-address={{ ansible_default_ipv4.address }} \
  --bind-address=0.0.0.0  \
  --insecure-port=0 \
  --secure-port=6443 \
  --allow-privileged=true \
  --apiserver-count={{ play_hosts | length }} \
  --enable-swagger-ui=true \
  --storage-backend=etcd3 \
  --etcd-cafile={{ etcd_pki_path }}/etcd-ca.pem \
  --etcd-certfile={{ etcd_pki_path }}/etcd.pem \
  --etcd-keyfile={{ etcd_pki_path }}/etcd-key.pem \
  --etcd-servers={% for h in play_hosts %}https://{{ h }}:2379{% if not loop.last %},{% endif %}{% endfor%} \
  --event-ttl=1h \
  --enable-bootstrap-token-auth \
  --client-ca-file={{ kube_pki_path }}/ca.pem \
  --kubelet-client-certificate={{ kube_pki_path }}/apiserver.pem \
  --kubelet-client-key={{ kube_pki_path }}/apiserver-key.pem \
  --kubelet-preferred-address-types=InternalIP,ExternalIP,Hostname \
  --service-cluster-ip-range={{ kube_cluster_ip_range }} \
  --service-node-port-range=30000-32767 \
  --service-account-signing-key-file={{ kube_pki_path }}/sa.key \
  --service-account-key-file={{ kube_pki_path }}/sa.key \
  --service-account-issuer=https://kubernetes.default.svc.cluster.local \
  --tls-cert-file={{ kube_pki_path }}/apiserver.pem \
  --tls-private-key-file={{ kube_pki_path }}/apiserver-key.pem \
  --requestheader-client-ca-file={{ kube_pki_path }}/front-proxy-ca.pem \
  --requestheader-username-headers=X-Remote-User \
  --requestheader-group-headers=X-Remote-Group \
  --requestheader-allowed-names=front-proxy-client \
  --requestheader-extra-headers-prefix=X-Remote-Extra- \
  --proxy-client-cert-file={{ kube_pki_path }}/front-proxy-client.pem \
  --proxy-client-key-file={{ kube_pki_path }}/front-proxy-client-key.pem \
  --audit-log-maxage=30 \
  --audit-log-maxbackup=3 \
  --audit-log-maxsize=128 \
  --audit-log-path={{ kube_log_path }}/apiserver/audit.log \
  --audit-policy-file={{ kube_path }}/audit-policy.yaml \
  --experimental-encryption-provider-config={{ kube_path }}/encryption.yaml \
  --log-dir={{ kube_log_path }}/apiserver \
  --logtostderr=false \
  --v=4"
